@use '../sass/abstracts/vars';

.btn {
    background-color: white;
    padding: .75rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    font-family: arial;
    border: 0;
    &.primary {
        background-color: vars.$color__primary;
        border: 3px solid vars.$color__primary;
    }
    &.secondary {
        background-color: transparent;
        border: 3px solid white;
    }
}